<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CasoStudioLogopedia"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EserciziTipo1.Winter1Record"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco1.creaesercizio1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco1.SceltaImmagine"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco1.sceltaiuto"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.ChooseWord"
            android:exported="true">
        </activity>

        <activity
            android:name=".EserciziTipo2.Inverno2"
            android:exported="true">
        </activity>

        <activity
            android:name=".Dottore.Creatoregioco2.creaesercizio2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco3.creagioco3"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco2.SceltaAudio"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco3.SceltaImmagini"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Creatoregioco3.SceltaRisposte"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo3.Inverno3"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.corretteroinverno1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.correttoreautunno1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.correttoreestate1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.correzioneinverno2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.correzioneautunno2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Correttori.correzioneestate2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.ListaBimbi"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.Bambino"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.SchedaEsercizioTipo2"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.SchedaEsercizioTipo1"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.SchedaEsercizioTipo3"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.BambinoCorrezione"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.ListaBimbiCorrezione"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.ListaBimbiCrea"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.BambinoCrea"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.LoginBambino"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.RegistraPaziente"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.LoginLogopedista"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.RegistrazioneLogopedista"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.CalendarEvent"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo1.Autumn1Record"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo1.Summer1Record"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo2.Estate2"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo3.Estate3"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo2.Autunno2"
            android:exported="true">
        </activity>
        <activity
            android:name=".EserciziTipo3.Autunno3"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.Mappa"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.SceltaMappa"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.mainBambino"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.CalendarioBambino"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.mainLogopedista"
            android:exported="true">
        </activity>
        <activity
            android:name=".Dottore.Graduatorie"
            android:exported="true">
        </activity>
        <activity
            android:name=".Paziente.CorrezionexBambino"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.Andamentoeserciziotipo1_1"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.Andamentoeserciziotipo1_2"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.Andamentoeserciziotipo1_3"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo2_1"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo2_2"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo2_3"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo3_1"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo3_2"
            android:exported="true">
        </activity>
        <activity
            android:name=".AndamentoEsercizi.AndamentoEserciziotipo3_3"
            android:exported="true">
        </activity>
    </application>

</manifest>